<div class="nav navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
	<a class="navbar-brand" href="#">Armstrong Database</a>
	<ul class="nav navbar-nav navbar-right">
		<li><%= link_to "Home", root_path, :class => "active" %></li>
		<li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Router <span class="caret"></span></a>
	      <ul class="dropdown-menu">
	        <li><%= link_to "Cut Sheets", sheets_path %></li>
			<li><%= link_to "Cut REMs", rems_path %></li>
	      </ul>
	    </li>
	</ul>
</div>
</div>
